.block {
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
}

body {
	height:100%;
	background: #fff;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

a {
	text-decoration: none;
}

img {
	border: 0;
}

* {-webkit-tap-highlight-color: rgba(255,105,183,0.6);}

#header {
  background: #eee;
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

.eventData tr th {
	width: 80px;
	background: #e6eaff;
	font-size: 14px;
}

.eventData tr td {
	max-width:300px;
	word-wrap: break-word;
}

#calendarParent {
	margin-top: 16px;
	margin-left: auto;
	margin-right: auto;
	height: 20px;
	text-align: center;
	line-height: 20px;
	font-size: 15px;
	font-weight: bold;
}

#sns {
	margin: 0 auto;
	padding: 4px;
	text-align: center;
}

/*検索ボタン*/
.btnSearch {
	margin-top: 16px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	-webkit- transform: translateX(-50%);
	color: #FFF;/*文字・アイコン色*/
  border-radius: 25px;/*角丸に*/
  display: inline-block;
  height: 36px;/*高さ*/
  width: 50%;/*幅*/
	max-width: 360px;
  text-align: center;/*中身を中央寄せ*/
  font-size: 18px;/*文字のサイズ*/
  line-height: 36px;/*高さと合わせる*/
  vertical-align: middle;/*垂直中央寄せ*/
  background: #4966c0;
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.29);
  border-bottom: solid 6px #224466;
}

.btnSearch:active {
	margin: 0 auto;
	height: 36px;/*高さ*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

/* iPhone5s, SE ---------------------------------------------*/
@media (max-width:320px){
	.eventData tr td {
		max-width: 240px;
		word-wrap: break-word;
	}
}

/* PC and others---------------------------------------------*/
@media (min-width:640px){
	.eventData tr td {
		max-width: 560px;
		word-wrap: break-word;
	}
}
