.block {
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
}

body {
	height:100%;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	background-image: url(png/sky.png);
	background-position: center center;
	background-repeat: repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #efefef;
}

a {
	text-decoration: none;
}

img {
	border: 0;
}

* {-webkit-tap-highlight-color: rgba(255,105,183,0.6);}

#header {
  background: #eee;
  text-align: center;
	font-size: 24px;
  font-weight: bold;
  padding: 10px;
}

/*どんなスポーツしたい？*/
.lblWhat {
	position: absolute;
	top: 8%;
	left: 50%;
	transform: translateX(-50%);
	-webkit- transform: translateX(-50%);
	color: #ff8181;/*文字色*/
  display: inline-block;
  height: 100%;/*高さ*/
  width: 100%;/*幅*/
  text-align: center;/*中身を中央寄せ*/
  font-size: 24px;/*文字のサイズ*/
	font-weight: bold;
	text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.32), 0px 1px 0px #ff82ca, 0px 2px 0px #ff6aa7, 0px 3px 0px #ff70ad;
  line-height: 36px;/*高さと合わせる*/
  vertical-align: middle;/*垂直中央寄せ*/
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
}

.lblWhat span {
	display:inline-block;
	transition: .7s;
}

.lblWhat:hover span {
	-webkit-transform: rotateX(360deg);
  -ms-transform: rotateX(360deg);
  transform: rotateX(360deg);
}

/*検索ボタン*/
.btnSearch {
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translateX(-50%);
	-webkit- transform: translateX(-50%);
	color: #FFF;/*文字・アイコン色*/
  border-radius: 25px;/*角丸に*/
  display: inline-block;
  height: 36px;/*高さ*/
  width: 50%;/*幅*/
	max-width: 360px;
  text-align: center;/*中身を中央寄せ*/
  font-size: 18px;/*文字のサイズ*/
  line-height: 36px;/*高さと合わせる*/
  vertical-align: middle;/*垂直中央寄せ*/
  background: #ff6600;
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.29);
  border-bottom: solid 6px #994400;
}


.btnSearch:active {
	position: absolute;
	top: 91%;
	left: 50%;
	height: 36px;/*高さ*/
  width: 50%;/*幅*/
	transform: translateX(-50%);
	-webkit- transform: translateX(-50%);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}
